body, html {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  .home-container {
    display: flex;
    height: 100vh;
  }
  
  .left-panel {
    flex: 7;
    padding: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  
  .top-left {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    align-items: center;
  }
  
  .logo {
    width: 50px;
    height: 50px; 
    margin-right: 10px; 
  }
  
  h1 {
    margin: 0;
  }
  
  h2 {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
  }
  
  .right-panel {
    flex: 3;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
  }
  
  @keyframes typing {
    from {
      width: 0;
    }
  }
  
  .typing-animation {
    animation: typing 2s steps(40, end) infinite;
    color: #ab68ff;
  }
  
  .login-button, .signup-button {
    margin-top: 20px;
    padding: 10px 20px;
    width: 150px;
    font-size: 16px;
    background-color: black;
    color: #FFCAD4;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block; 
  }
  
  .signup-button {
    margin-left: 10px; 
  }
  
  .login-button:hover, .signup-button:hover {
    background-color: gray;
  }
  